<h1>Hello signup! </h1>


{{!-- do not forget the enctype to be able to send files!! --}}
<form class="form" method="post" action="/auth/signup" enctype="multipart/form-data">
{{> flashMessage}}
<label for="name">Name</label>
  <input class="input" type="text" class="input" id="name" name="username"/>

<label for="email">Email</label>
  <input class="input" type="email" class="input" name="email" id="email"/>

<label for="password">Password</label>
  <input class="input" type="password" class="input" name="password" id="password"/>

<label for="avatar">Avatar</label>
  <input class="input" type="file" class="input" name="avatar" id="avatar"/>

  <button class="btn">Signup</button>
</form>